
      p {
        font-family: arial;
        margin-bottom: 0;
      }
    
      .bank-acc {
       font-size: 23px;
       margin-bottom: 5px;
    
      }
    
      .usd {
        color: gray;
        font-size: 14px;
      }
    
      .profit {
        color: rgb(0, 160, 0);
        margin-top: 0;
        margin-bottom: 8px;
      }
    
      .loss {
        margin-top: 0;
        font-family: arial;
        
      }
    
      .after-hours {
        color: gray;
      }
    
      .loss-details {
        color: rgb(203, 0, 0);
      }
    