p {
  font-family: arial;
}

.free-code {
  font-weight: bold;
}

.free-codecamp {
  color: rgb(89, 89, 89);
}

.want-to {
  width: 500px;
  line-height: 23px;
}

.at-symbol {
  color: rgb(0, 157, 255)
}